<div class="  page-content login-page">
  {% comment %} <header class="section-header">
    <h1 class="section-header__title">Log in | Register</h1>
  </header> {% endcomment %}
  <div class="inner-wrapper">
    <div class="login-wrapper">
      {% comment %} <div class="log-image text-center">
        <img src="{{ 'logo.jpg' | asset_url }}" width="124px" height="80px">
      </div> {% endcomment %}
      

      <div class="note note--success hide" id="ResetSuccess">
        {{ 'customer.recover_password.success' | t }}
      </div>

      <div id="CustomerLoginForm" class="form-vertical">
        {%- form 'customer_login' -%}
          <h2 class="login-header">Welcome Back</h2>
          <p>Login below to access your account profile, shop, view your purchase history and much more!</p>
          {{ form.errors | default_errors }}

          <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
          <input type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>

          {%- if form.password_needed -%}
            <div class="grid">
              <div class="grid__item one-half">
                <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
              </div>
              
            </div>
            <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
          {%- endif -%}
          {% comment %} <div id="re-captcha"></div> {% endcomment %}
            <div class="grid__item text-right">
              <small class="label-info">
                <a href="#recover" id="RecoverPassword">
                  {{ 'customer.login.forgot_password' | t }}
                </a>
              </small>
            </div>
            <div class="">
              <button type="submit" disabled id="contact_submit" class="btn">
                Login
              </button>
            </div>
            
          <p class="privacy">This site is protected by reCAPTCHA and the Google <a>Privacy Policy</a> and <a>Terms of Service</a> apply.</p>
        {%- endform -%}
      </div>

      <div id="RecoverPasswordForm" class="hide">
        <div class="form-vertical">
          <h2>{{ 'customer.recover_password.title' | t }}</h2>
          <p>{{ 'customer.recover_password.subtext' | t }}</p>

          {%- form 'recover_customer_password' -%}

            {{ form.errors | default_errors }}

            {%- if form.posted_successfully? -%}
              <span class="hide reset-password-success"></span>
            {%- endif -%}

            <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
            <input type="email" value="" name="email" id="RecoverEmail" class="input-full" autocorrect="off" autocapitalize="off">

            <p>
              <button type="submit" class="btn">
                {{ 'customer.recover_password.submit' | t }}
              </button>
            </p>
            <button type="button" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</button>
          {%- endform -%}
        </div>

      </div>

      {%- if shop.checkout.guest_login -%}
        <hr class="hr--clear">

        <h1>{{ 'customer.login.guest_title' | t }}</h1>
        <hr class="hr--small">

        {%- form 'guest_login' -%}
          <button type="submit" class="btn">
            {{ 'customer.login.guest_continue' | t }}
          </button>
        {%- endform -%}
      {%- endif -%}
    </div>
    <div class="register-wrapper">
      <h2 class="rigister-title">New here?</h2>
      {% comment %} <h3>Lorem ipsum dolor sit amet, conecur adipiscing elit. </h3> {% endcomment %}
      <a href="/account/register" class="btn register-button">REGISTER</a>
      <p>We are in the process of moving from <a href="https://www.skinbetter.ca">skinbetter.ca</a> to <a href="https://www.evolvecosmetics.ca/">evolvecosmetics.ca</a> - if you have an existing account on skinbetter.ca, please <a href="https://www.evolvecosmetics.ca/account/register">click here</a> to activate your account on <a href="https://www.evolvecosmetics.ca/">evolvecosmetics.ca</a></p>
    </div>
  </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>


<script>
  var actCallback = function (response) {
    document.getElementById('contact_submit').removeAttribute("disabled");
  };
  var expCallback = function() {
    {% comment %} $('#contact_form').prop("disabled", true); {% endcomment %}
  };

  var onloadCallback = function () {
    var widget = grecaptcha.render(document.getElementById("re-captcha"), {
      'sitekey' : "6LdgIXsgAAAAAG9wS3_hRrx3cJs4VBBfOcx06fIe", // Sitekey, Retrieving from reCaptcha
      'theme': "light",
      'callback' : actCallback,
      'expired-callback': expCallback,
    });
  }
</script>